* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.navbar-links ul {
    display: flex;
    list-style: none;
}

.navbar-links li {
    margin: 0 10px;
}

.navbar-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4em;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ffa500;
}

.active {
    font-weight: bold;
    color: #ffa500 !important;
}

.hero-container {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image>img {
    width: 100%;
    max-width: 400px;
    border-radius: 30%;
    border: 5px solid #e39c1ad1;
    padding: 10px;
    margin: 20px;
}

.hero {
    text-align: center;
}

.myname {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 3.5rem;
    color: #e06912;
}

.mycountry {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-family: 'Open Sans';
    color: #ef4444b8;
}

.hero-main-desc {
    width: 80%;
    max-width: 600px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 1.3rem;
    color: #d5cbcbd4;
}

.line {
    width: 100%;
    height: 5px;
    margin-bottom: 10px;
    background-color: #3c3838d6;
}

.hero-description-container {
    margin: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-description {
    margin: 0 20px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 1.2rem;
    color: #959090d6;
}

.hero-buttons {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.custom-button {
    color: white;
    background-color: #050708;
    transition: background-color 0.3s;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 0.8rem 1.8rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin: 0.5rem;
    border: none;
    cursor: pointer;
}

.custom-button:hover {
    background-color: rgba(5, 7, 8, 0.9);
}

.custom-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(5, 7, 8, 0.5);
}

.custom-button:active {
    background-color: rgba(5, 7, 8, 0.3);
}

@media (prefers-color-scheme: dark) {
    .custom-button:focus {
        box-shadow: 0 0 0 0.25rem rgba(5, 7, 8, 0.5);
    }

    .custom-button:hover {
        background-color: rgba(5, 7, 8, 0.3);
    }
}

.footer {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Open Sans';
    font-size: 1.2rem;
    position: relative;
}

.footer div {
    margin: 10px 0px;
}

.special-footer {
    margin-top: -7px !important;
}

.about-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #ffffff;
}

.image-section>img {
    width: 100%;
    margin: 30px 0;
}

.image-section>h2 {
    text-align: center;
    color: #e06912;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info h2 {
    font-size: 2em;
    margin: 50px 0;
    color: #e06912;
}

.info p {
    font-size: 1.2em;
    margin: 40px 0;
    line-height: 1.6;
}

.info ul {
    margin: 50px 0;
    list-style-type: none;
    padding: 0;
}

.info ul li {
    font-size: 1.2em;
    margin: 10px 0;
    color: #c0c0c0;
}

@media (max-width: 900px) {

    .footer {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Open Sans';
        font-size: 1.2rem;
        position: relative;
    }

    .footer div {
        text-align: center;
        margin: 10px 0;
    }

}

@media (min-width: 700px) {
    .navbar-links {
        width: 50%;
    }

    .hero-container {
        margin: 80px 25px;
        flex-direction: row;
        text-align: left;
        align-items: flex-start;
    }

    .hero-image {
        width: 40%;
    }

    .hero {
        margin: auto;
    }

    .hero-main-desc {
        font-size: 1.5rem;
        margin: auto;
        width: 35%;
    }

    .about-me {
        flex-direction: row;
        align-items: center;
        text-align: left;
        gap: 10%;
    }

    .info {
        margin-left: 20px;
    }

    .profile-pic {
        margin-bottom: 0;
    }
}
